*{
  box-sizing: border-box;
}

body {
  background: #000000;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}


.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 800px;
  border-radius: 50px;
  background: #ddf3f3;
  overflow-y: hidden;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.done p{
  text-decoration: line-through;  
}

.title {
  display: flex;
  justify-content: center;
  color: rgba(59, 41, 66, 0.8);
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-box {
  border-radius: 10px;
}

.neunmorphism-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 250px;
  height: 250px; 
  background: rgb(222, 240, 240);
  box-shadow: 10px 10px 20px #c0c0c0, -10px -10px 20px #ffffff;
}


 .neunmorphism-box img {
  max-width: 98%;
  max-height: 90%;
  border-radius: 29px;    
}

.enter-btn {
  min-width: 150px;
  padding: 15px 10px;
  margin: 20px;
  background: rgb(222, 240, 240);
  border: none;
  border-radius: 25px;
  color: rgba(59, 41, 66, 0.8);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -17px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.enter-btn:hover {
  box-shadow: inset -7px -7px 20px 0 rgb(255, 255, 255),
    inset 7px 7px 20px 0 rgb(159, 231, 231);
  color: rgba(66, 7, 133, 0.63);
}

#userinput {
  padding: 0 20px 0 20px;
  border-radius: 40px;
  background: rgb(232, 240, 240);
  width: 20em;
  height: 40px;
  border: none;

  box-shadow: -5px -5px 10px 0px #fff inset,
    5px 5px 10px 0px rgba(158, 223, 214, 0.5) inset,
    2px 2px 4px 0px rgba(170, 170, 204, 0.25) inset,
    -2px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
}

.list-rows-section{
  display: flex;
  justify-content: center; 
  width:100%; 
  height:500px; 
  background:#f3d5f277;
}

.scroll-container {
  margin-top:10px;
  max-height: 260px;
  overflow:scroll;
  scrollbar-width: thin;
  overflow-x: hidden;    
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(17, 93, 192, 0.692);
  border-radius: 20px;
  border: transparent;
}

.ul{
  margin-left:-40px;
}

.ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
 
  display: flex; 
  align-items: center; 
  width: 29em;
}

.ul li p {
  margin: 0; 
  width: 250px;  
}

.triangle {
  display: flex;
  width: 0;
  height: 0;
  margin-right: 1em;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}

.delete-row{
  padding:8px;
  width:35px;
  border-radius: 50%;
  background: #ffffff;
  border:none;
  color: #c0c0c0;
  color:rgba(238, 55, 95, 0.555); 
  font-size: 0.8em;
  font-weight: bold;
  position: relative;   
  text-transform: uppercase;  
  box-shadow: -17px -7px 35px 0 rgba(255, 255, 255, 0.9), 7px 2px 10px 0 rgba(0, 0, 0, 0.2);
}
